aiosignal
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama

crypto
cycler
decorator
distlib
entrypoints
filelock
fonttools
frozenlist
gitdb
GitPython
grpcio
httplib2
idna
importlib-metadata
Jinja2
joblib
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
msgpack
mysql-connector-python
Naked
numpy
oauth2client
packaging
pandas
Pillow
platformdirs
#protobuf
pyarrow
pyasn1
pyasn1-modules
pycryptodome
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim==0.1.0.post0
PyYAML
ray
requests
rich
rsa
scikit-learn
scipy
semver
shellescape
six
smmap
streamlit
streamlit-lottie
streamlit-option-menu
threaded
threadpoolctl
toml
toolz
torch
torchvision
tornado
typing_extensions
tzdata
#tzloc
urllib3
validators
virtualenv
watchdog
xgboost
zipp
